@{
    ViewData["Title"] = "Products";
}
@model ProductsViewModel

<style>
    .items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 250px;
        margin: 5px;
        text-align: left;
        font-family: arial;
    }

    .card-content {
        padding: 5px
    }

    .to-cart {
        display: inline-block;
        font-size: 15px;
        padding: 12px 20px;
        background-color: #e12454;
        color: #fff !important;
        text-align: center;
        font-weight: 400;
        transition: all .3s;
        width: 100%;
    }

        .to-cart a:hover {
            background-color: #ff6f90;
        }
</style>

<div class="container items py-4">
    @foreach (var product in Model.Products)
    {
        <div class="card">
            @if (!string.IsNullOrEmpty(product.Path))
            {
                <img src="@product.Path" alt="product" style="width:100%; max-height: 150px;">
            }
            else
            {
                <img src="~/Images/placeholder.png" alt="product" style="width:100%; max-height: 150px;">
            }
            <div class="card-content">
                <h4 style="margin:0;"><a href="@Url.Action("ProductDetails", "products", new {@productId = product.Id})">@product.Name</a></h4>
                <p style="margin:0;" class="price">@product.Price MDL</p>
                @if (product.StockQuantity != 0)
                {
                    <p style="margin:0;" class="text-success">Disponibil</p>
                    <button class="to-cart" onclick="addToCart('@product.Id', '@product.Name', '@product.Price', '/Images/placeholder.png')">Add to Cart</button>
                }
                else
                {
                    <p style="margin:0;" class="text-danger">Nu este in stoc</p>
                }
            </div>
        </div>
    }
</div>